body{
    background-color: #fc913a;
}
h1{
    color: black;
    font-family: Handlee;
    text-align: center;
    font-weight: bold;
    font-size: 75px;
}
.down{
    color: black;
    text-align: center;
    font-size: 45px;
}
.hidden{
    display: none;
}
button.btn-primary{
    background-color: #061746;
    
}
.btn-primary:hover{
    font-size: 150%;
    color: black;
    font-weight: bolder;
}
.marsh{
    width: 50%;
    margin-top: 10px;
    font-size: 15px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#resultTitle{
    color: black;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
}
#results{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}